.user-container{
  background-color:antiquewhite;
    padding:10px;
    color: black;
    display: flex;
    margin:1rem;
    justify-content:center ;
    flex-direction:column ;
    align-items: center;
    gap: 1.5rem;
    
}

#user-img{
    height: 100px;
    width: 150px;
    border-radius: 50%;
}